* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #333;
  background: #f9f9f9;
}

header {
  background: #111;
  color: #fff;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

section {
  padding: 100px 50px;
  text-align: center;
}

.home {
  background: linear-gradient(to right, #00bcd4, #009688);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.home-content h3 {
    font-size: 1.7rem;
    color:#333
}


.home-content span {
  color: #fbff03;
}

.btn {
  display: inline-block;
  background: #111;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #00bcd4;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.skill {
  background: #089269;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}



footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  section {
    padding: 80px 20px;
  }
}
